<!Doctype html>
<html>
    <head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script><META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">      <title>TIFR Previous Year Papers</title>
   <meta name=viewport content="width=device-width, initial-scale=1">     <!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-102977974-5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());

  gtag('config', 'UA-102977974-5');
</script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<style>
    body {
    background-color:#BCAAA4;
     background-image: url("/maini.JPG");
}

.maindiv {
    background-image: url("/images1.jpg");
    background-repeat: repeat;
}
   .table {
        max-width: none;
        table-layout: fixed;
        word-wrap: break-word;
    } 
 p {
    margin-left: 10px;
    margin-right: 10px;
}
</style>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"></head>

    <body>
        <div >
            <img src="/exam1.png" alt="Mountain View" style="width:100%;height:228px;">

        </div>
        <div class="maindiv" style="width:80%;margin-left: auto; margin-right: auto;">
<h1 align="center" style="padding-top:10px">TIFR Previous Year Papers</h1>
 <br><br>
 <div>
            <script>
  (function() {
    var cx = '008040713969833446111:y_ic0tktiae';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
        </div> 
<br><br>
<p>
Download TIFR Previous Year Papers with Solutions and Study Material.Download TIFR Previous Year Question Papers in PDF format<br>
<p>  <table class="table table-bordered table-hover ">
        <thead>
            <tr>
                <th class="col-md-1">Paper Name</th>
                <th class="col-md-1">Download Link</th>
            </tr>
        </thead>
        <tbody>
<tr>
                <td class="col-md-1">GS2010-QP-BIO-M.SC.-WILDLIFE.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1za7AI1tohqO4KjpZgPzSrmeJRmMovxV5&name=GS2010-QP-BIO-M.SC.-WILDLIFE.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">GS2010-QP-BIO.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1TJp_YLgBCfruooDlAwWQftGsOfHw5diR&name=GS2010-QP-BIO.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">GS2011-QP-Biology.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1K6wmnZQPxQnY9UlpL24KezrXiRX0NT_0&name=GS2011-QP-Biology.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">GS2011-QP-Chemistry.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=19oBloHmAClOX24aT2eS1bIY-ZHU9-gii&name=GS2011-QP-Chemistry.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">GS2011-QP-Computer.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1efu50Cowyo-5-wiRd1tSid70tG-JK50e&name=GS2011-QP-Computer.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">GS2011-QP-Maths.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=13QvNUIoUBImm7WN6-4XmgJM1EB3MJngE&name=GS2011-QP-Maths.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">GS2011-QP-Physics.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1Sl9UI2sBmoCnvPYkqz00jqoXF4qW3ToU&name=GS2011-QP-Physics.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">GS2012-QP-BIO.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=14RAY2pQYfMqsmC26UsPccBrKHs5J7OqA&name=GS2012-QP-BIO.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">GS2012-QP-CHM-X.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1pdw0-ciRxNmvV-KvQhbUylDnZWN53Q2z&name=GS2012-QP-CHM-X.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">GS2012-QP-CHM-Y.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1z1vWZuKcvtq7CglIld1aeuMvR3rA7EFV&name=GS2012-QP-CHM-Y.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">GS2012-QP-CSS.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1LOJj5Xe0NdV03GN7Aahu2BKRkYxYhk1N&name=GS2012-QP-CSS.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">GS2012-QP-MTH.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=19arGVeOw42QgO80IWnETfVQ0dw0VYYXf&name=GS2012-QP-MTH.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">GS2012-QP-PHY-X.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1w4kmBBV2YibQSRK8o7VYyxEByEk3RPIK&name=GS2012-QP-PHY-X.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">GS2012-QP-PHY-Y.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1IO6ho8-NRvZL2M94v838JEQ69WDya_Bu&name=GS2012-QP-PHY-Y.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">GS2012-QP-WLBIO.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1gpPJygNGINzD6j0zquax2-xp43dj9_ly&name=GS2012-QP-WLBIO.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">GS2013-QP-BIO.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1f3_beeMhliK93E_I88qmYsIgKB9BA4Uk&name=GS2013-QP-BIO.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">GS2013-QP-CHM-X.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1wKDc_bH1drOocDyOyMIhVPDoIsD64Wio&name=GS2013-QP-CHM-X.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">GS2013-QP-CHM-Y.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1jL7yqfSpwbmFVA1WjEXP_Xj7g6Tzngay&name=GS2013-QP-CHM-Y.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">GS2013-QP-CSS.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1oDk61bRV0aHZ5rKxOHAFkb_pBGhSEiYs&name=GS2013-QP-CSS.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">GS2013-QP-MTH.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1NsgSTCpWkXuEeARKqSfmiBbNMcjBpZZI&name=GS2013-QP-MTH.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">GS2013-QP-PHY-X.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1kOxyCuIbsooSarITR9KHlcHryhXwmIVQ&name=GS2013-QP-PHY-X.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">GS2013-QP-PHY-Y.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=14fSg_UNsl0i9CCNELsgoZNqyeb-Qkc8z&name=GS2013-QP-PHY-Y.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">GS2014-QP-BIO.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1aYlKD8-UjqR25GggZfdjex0MKprrhRf7&name=GS2014-QP-BIO.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">GS2014-QP-CHM-X.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1Cde6J1vlIC_5H4RJuRs1qXZ-rfSEOFg2&name=GS2014-QP-CHM-X.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">GS2014-QP-CHM-Y.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1Q-ymk1fllh2_cEZ4PGFvwxdGXwu1SJJR&name=GS2014-QP-CHM-Y.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">GS2014-QP-CSS.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1GdQQQqwa0Aw2vOJYJYNsTgiQCnfsgH3Z&name=GS2014-QP-CSS.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">GS2014-QP-MTH.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1iBwARhxpC8nR4BsLI1uE1F_lyYm6glQO&name=GS2014-QP-MTH.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">GS2014-QP-PHY-X.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1l9-T_ftw0wp2cR_bLF1T2IGcoGQlS2qx&name=GS2014-QP-PHY-X.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">GS2014-QP-PHY-Y.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1qKIqANKyOBbVNxL8az_sgZhP1Q2ajlxP&name=GS2014-QP-PHY-Y.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">GS2014-QP-WLBIO.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1UArp8gfajaSi50KNtaFgVK_Fr8HC1Kq4&name=GS2014-QP-WLBIO.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">GS2015-QP-BIO.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=17gxPOL8cUO_HFV5pUMsR-h3M3RYhhSwV&name=GS2015-QP-BIO.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">GS2015-QP-CHM-X.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=10NGjO4ONRbkQMH8yVJueHCe6PG3XkHgE&name=GS2015-QP-CHM-X.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">GS2015-QP-CHM-Y.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1kLNEWTZodrAResApyZiNjOID_WnxigNo&name=GS2015-QP-CHM-Y.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">GS2015-QP-CSS.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1teNY--MiPwjiboFwueksXBFrVMoJR_OE&name=GS2015-QP-CSS.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">GS2015-QP-MTH.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1GBAwlHD8husR8tYZBNcaR3g2PwDSCT1q&name=GS2015-QP-MTH.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">GS2015-QP-PHY-X.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1EylP-IpABXhBRxE0f06Xn0H7H3NtNYWR&name=GS2015-QP-PHY-X.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">GS2015-QP-PHY-Y.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1Q-0Ls9zVoryuNKd9-cLCMUZKL_RZcbyF&name=GS2015-QP-PHY-Y.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">GS2016-QP-BIO.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1y3s9XY0NFbSWc23-VZ_nHX99q2TzFyTw&name=GS2016-QP-BIO.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">GS2016-QP-BIOMSCWL.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1llqJzcv8nUvUyfymeDTA4h96yNO7nAy3&name=GS2016-QP-BIOMSCWL.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">GS2016-QP-CHM-X.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=10Ok_UsqjQfeFF304m-IkE_tK4g_iuwO-&name=GS2016-QP-CHM-X.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">GS2016-QP-CHM-Y.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1E_jRsTaRUPIvdlf8wYwYqdRNnW1qXt89&name=GS2016-QP-CHM-Y.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">GS2016-QP-CSS.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1BnZd1_S_xgEMxeaLWD4nNHV90m8WI9yL&name=GS2016-QP-CSS.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">GS2016-QP-MTH.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1s-M7OjX9HZJfrZANbLbX2MfcWKlv-IgM&name=GS2016-QP-MTH.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">GS2016-QP-PHY-X.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1THK6WWb23nwQSTlzqfmvPdJOwU6QrGAV&name=GS2016-QP-PHY-X.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">GS2016-QP-PHY-Y.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1zdHOj3bQBQGBAY7kDkU2Pyp6dDS91Tvw&name=GS2016-QP-PHY-Y.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">GS2017-QP-BIO.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1fNCby1YBhQeZStN0mPbEwsGjm7ePrITD&name=GS2017-QP-BIO.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">GS2017-QP-CHM-X.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1AI81Kn5qL0tC1Kyun2RkpT7sGDt7XR6f&name=GS2017-QP-CHM-X.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">GS2017-QP-CHM-Y.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1pfQ4fstVmVHu8IF65q8pEgfK-E5aiqzB&name=GS2017-QP-CHM-Y.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">GS2017-QP-CSS.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1p0eCaLIibHZ1qd2oG3UHmmGcO0p3bHD8&name=GS2017-QP-CSS.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">GS2017-QP-MTH.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1pZtmtiGAoGPqFKG0YH1RU9rRfSw7YImE&name=GS2017-QP-MTH.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">GS2017-QP-PHY-X.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1iUIYjjSYpG3mvJr4LGBnJ4HdKEon0JxA&name=GS2017-QP-PHY-X.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">GS2017-QP-PHY-Y.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=14AiiCAeqwB3QMMe4X6ygskPNXhgEJ95R&name=GS2017-QP-PHY-Y.pdf" style="">Download PDF</a></td>
            </tr>

</tbody>
    </table>
<br><br>

</div>


<script>
if(navigator.userAgent.toLowerCase().includes("webview") ||  navigator.userAgent.toLowerCase().includes("android")  )
{
      $("#tags").hide();
}
</script>


    </body>
</html>
   <script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/vue.resource/1.2.0/vue-resource.min.js"></script>
<style>
        .thumbnail {
            padding: 0px;
            height: 20%;
            width = 100%
        }

        .panel {
            position: relative;
        }

        .panel > .panel-heading:after, .panel > .panel-heading:before {
            position: absolute;
            top: 11px;
            left: -16px;
            right: 100%;
            width: 0;
            height: 0;
            display: block;
            content: " ";
            border-color: transparent;
            border-style: solid solid outset;
            pointer-events: none;
        }

        .panel > .panel-heading:after {
            border-width: 7px;
            border-right-color: #f7f7f7;
            margin-top: 1px;
            margin-left: 2px;
        }

        .panel > .panel-heading:before {
            border-right-color: #ddd;
            border-width: 8px;
        }

        .nav-tabs > .active {
            color: #4c4742 !important;
            background-color: #222222 !important;
        }
</style>
    

<div id="comments" style="width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FAFAFA;">
    <div>
        <ul class="nav nav-tabs" style="background-color: #ECEFF1">
            <li class="active">
                <a data-toggle="tab" href="#comment-list">Comments</a>
            </li>
            <li>
                <a data-toggle="tab" href="#add-comment">Add Comments</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="comment-list" class="tab-pane fade in active">
                <table class="table">
                    <tbody>
                        <tr v-for="comment in comments">
                            <td style="width: 15%;">
                                <div class="thumbnail">
                                    <img src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png" style="width: 100% ;
                                        height: 20%">
                                </div><!-- /thumbnail -->
                            </td>
                            <td>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <strong>{{comment.commentedBy}}</strong> <span class="text-muted">commented {{comment.noOfDays}} days ago</span>
                                    </div>
                                    <div class="panel-body">
                                        {{comment.comment}}
                                    </div><!-- /panel-body -->
                                </div><!-- /panel panel-default -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="add-comment" class="tab-pane fade">

                <textarea v-model="folderComment.comment" placeholder="Comment..." class="form-control" rows="5" style="margin-top: 10px;
                    resize: vertical;
                    margin-bottom: 10px"></textarea>
                <button class="btn btn-default" style="float: right" v-on:click="addComment()">POST</button>
                <div style="margin-bottom: 100px"></div>

            </div>
        </div>
    </div>


</div>


<script>
        var app = new Vue(
                {
                    el: "#comments",
                    data: {
                        folderComment: {
                            comment: '',
                            appPackageName: '',
                            folderPath: ''
                        },
                        comments: []
                    },
                    methods: {
                        addComment: function () {
                            this.$data.folderComment.folderPath = window.location.href;
                            this.$http.post("https://sarkaribabu.herokuapp.com/addFolderComment", this.$data.folderComment).then(
                                    function (data) {
                                        window.location.reload();
                                    },
                                    function (error) {

                                    }
                            )
                        },
                        getComments: function () {
                            this.$http.get("https://sarkaribabu.herokuapp.com/getFolderComment/" + encodeURIComponent(window.location.href)).then(
                                    function (data) {
                                        this.$data.comments = data.body;
                                    },
                                    function (error) {

                                    }
                            )
                        }
                    }
                }
        );
        app.getComments();
</script>
