<!Doctype html>
<html>
    <head>
<link rel="canonical" href="https://www.previousyearpapers.in/KSET%20Karnataka/" /><script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>   <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
     <title>Paper 3</title>
   <meta name=viewport content="width=device-width, initial-scale=1">     <!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-102977974-5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());

  gtag('config', 'UA-102977974-5');
</script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<style>
  body {
 background-color:#BCAAA4;
     background-image: url("/maini.JPG");
}

.maindiv {
    background-image: url("/images1.jpg");
    background-repeat: repeat;
}
   .table {
        max-width: none;
        table-layout: fixed;
        word-wrap: break-word;
    } 
 p {
    margin-left: 10px;
    margin-right: 10px;
}
</style>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"></head>

    <body>
        <div >
            <img src="/exam1.png" alt="Mountain View" style="width:100%;height:228px;">

        </div>
        <div class="maindiv" style="width:80%;margin-left: auto; margin-right: auto;">
<h1 align="center" style="padding-top:10px">Paper 3</h1>
 <a href="/KSET Karnataka/">Download All KSET Karnataka Previous Year Papers</a><br>
   <table class="table table-bordered table-hover ">
        <thead>
            <tr>
                <th class="col-md-1">Paper Name</th>
                <th class="col-md-1">Download Link</th>
            </tr>
        </thead>
        <tbody>
<tr>
                <td class="col-md-1" style="padding:15px">K-0116 Commerce (Paper-III).pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=0BzOoGOAZC_3wTmN4MFdOQWx1dEk&name=K-0116 Commerce (Paper-III).pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">K-0216 Kannada (Paper-III).pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=0BzOoGOAZC_3wT3BKd3RQZlhYWjA&name=K-0216 Kannada (Paper-III).pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">K-0316 Economics (Paper-III).pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=0BzOoGOAZC_3wNWEwNzgtRWJEbEU&name=K-0316 Economics (Paper-III).pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">K-0416 English (Paper III).pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=0BzOoGOAZC_3wbWNpRDQ1NHNqUFk&name=K-0416 English (Paper III).pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">K-0516 Political Science (Paper-III).pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=0BzOoGOAZC_3wUG8tNnlzWG4yaFk&name=K-0516 Political Science (Paper-III).pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">K-0616 History (Paper-III).pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=0BzOoGOAZC_3wQWMtX3E0VmZmVkk&name=K-0616 History (Paper-III).pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">K-0716 Sociology (Paper-III).pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=0BzOoGOAZC_3wN3hBWnIxZ0pxcEU&name=K-0716 Sociology (Paper-III).pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">K-0816 Geography (Paper-III).pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=0BzOoGOAZC_3wTEZOTjZKQWluSXM&name=K-0816 Geography (Paper-III).pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">K-0916 Hindi (Paper-III).pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=0BzOoGOAZC_3wTEdzazViUEJmT1U&name=K-0916 Hindi (Paper-III).pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">K-1016 Management (Paper-III).pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=0BzOoGOAZC_3wbWJkWURzdHRNUjQ&name=K-1016 Management (Paper-III).pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">K-1116 Tourism and Administration (Paper-III).pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=0BzOoGOAZC_3wamJtY1RxYUxwMTg&name=K-1116 Tourism and Administration (Paper-III).pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">K-1216 Education (Paper-III).pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=0BzOoGOAZC_3wTEFlc3ktMGFZcWs&name=K-1216 Education (Paper-III).pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">K-1316 Library & Information Science (Paper-III).pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=0BzOoGOAZC_3wbG4teExEN2cwN3c&name=K-1316 Library & Information Science (Paper-III).pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">K-1416 Mass Communication and Journalism (Paper-III).pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=0BzOoGOAZC_3wRE9WREFkSUxFRWM&name=K-1416 Mass Communication and Journalism (Paper-III).pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">K-1516 Psychology (Paper-III).pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=0BzOoGOAZC_3wcDhwUnd0Q084LTA&name=K-1516 Psychology (Paper-III).pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">K-1616 Social Work (Paper-III).pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=0BzOoGOAZC_3wb3FtQjdVY1RTX0U&name=K-1616 Social Work (Paper-III).pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">K-1716 Criminology (Paper-III).pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=0BzOoGOAZC_3wVDNRTkpXbURNVlE&name=K-1716 Criminology (Paper-III).pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">K-1816 Law (Paper-III).pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=0BzOoGOAZC_3wWGJZVktFaERoSEk&name=K-1816 Law (Paper-III).pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">K-1916 Sanskrit (Paper-III).pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=0BzOoGOAZC_3waG9NSTlWNFNMVVE&name=K-1916 Sanskrit (Paper-III).pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">K-2016 Physical Education (Paper-III).pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=0BzOoGOAZC_3wZFpCQmtSM0U1UTg&name=K-2016 Physical Education (Paper-III).pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">K-2116 Folk Literature (Paper-III).pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=0BzOoGOAZC_3wWHFLRXVRUzFIX00&name=K-2116 Folk Literature (Paper-III).pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">K-2216 Urdu (Paper-III).pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=0BzOoGOAZC_3wWk1JRW1MQXE5alU&name=K-2216 Urdu (Paper-III).pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">K-2316 Public Administration (Paper-III).pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=0BzOoGOAZC_3weGVINzJmY2dzdFE&name=K-2316 Public Administration (Paper-III).pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">K-2416 Computer Science and Applications (Paper-III).pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=0BzOoGOAZC_3wZ0VUcEg0T1BqVXM&name=K-2416 Computer Science and Applications (Paper-III).pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">K-2516 Physical Science (Paper-III).pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=0BzOoGOAZC_3wckw3Tlp2VUN2Sjg&name=K-2516 Physical Science (Paper-III).pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">K-2616 Mathematical Sciences (Paper-III).pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=0BzOoGOAZC_3wSVJITS1SdEdwOW8&name=K-2616 Mathematical Sciences (Paper-III).pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">K-2716 Chemical Sciences (Paper-III).pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=0BzOoGOAZC_3wR1pCN191ZTlfcUk&name=K-2716 Chemical Sciences (Paper-III).pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">K-2816 Life Sciences (Paper-III).pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=0BzOoGOAZC_3wTG9tSzFWX1czT2c&name=K-2816 Life Sciences (Paper-III).pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">K-2916 Environmental Sciences (Paper-III).pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=0BzOoGOAZC_3wWmJpMEtVakZnVFk&name=K-2916 Environmental Sciences (Paper-III).pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">K-3016 Home Science (Paper-III).pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=0BzOoGOAZC_3wV0hSRWdUUHd2SXM&name=K-3016 Home Science (Paper-III).pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">K-3116 Electronic Science (Paper-III).pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=0BzOoGOAZC_3wSmxQb1JUQmpueVk&name=K-3116 Electronic Science (Paper-III).pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">K-3216 Earth Science (Paper-III).pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=0BzOoGOAZC_3wTWZLTlpnNTB2aGM&name=K-3216 Earth Science (Paper-III).pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">K-3316 Archaeology (Paper-III).pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=0BzOoGOAZC_3weXVOOFh2M0xVQ1k&name=K-3316 Archaeology (Paper-III).pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">K-3416 Anthropology (Paper-III).pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=0BzOoGOAZC_3wV2xUWE9mRmFJSUE&name=K-3416 Anthropology (Paper-III).pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">K-3516 Marathi (Paper-III).pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=0BzOoGOAZC_3wN2huUmt1R2ZLd3c&name=K-3516 Marathi (Paper-III).pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">K-3616 Philosophy (Paper-III).pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=0BzOoGOAZC_3wTFpmZU9uWm1LSnM&name=K-3616 Philosophy (Paper-III).pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">K-3716 Womens Studies (Paper-III).pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=0BzOoGOAZC_3wUFgwam80bzN5ZU0&name=K-3716 Womens Studies (Paper-III).pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">K-3816 Linguistics (Paper-III).pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=0BzOoGOAZC_3wWC1hRzd0NzFlQUE&name=K-3816 Linguistics (Paper-III).pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">K-3916 Performing Arts (Paper-III).pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=0BzOoGOAZC_3wNkU4QUQ4VkladjA&name=K-3916 Performing Arts (Paper-III).pdf" style="">Download PDF</a></td>
            </tr>

</tbody>
    </table>
<br><br>

</div>


<script>
if(navigator.userAgent.toLowerCase().includes("webview") )
{
      $("#tags").hide();
}
</script>


    </body>
</html>
   <script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/vue.resource/1.2.0/vue-resource.min.js"></script>
<style>
        .thumbnail {
            padding: 0px;
            height: 20%;
            width = 100%
        }

        .panel {
            position: relative;
        }

        .panel > .panel-heading:after, .panel > .panel-heading:before {
            position: absolute;
            top: 11px;
            left: -16px;
            right: 100%;
            width: 0;
            height: 0;
            display: block;
            content: " ";
            border-color: transparent;
            border-style: solid solid outset;
            pointer-events: none;
        }

        .panel > .panel-heading:after {
            border-width: 7px;
            border-right-color: #f7f7f7;
            margin-top: 1px;
            margin-left: 2px;
        }

        .panel > .panel-heading:before {
            border-right-color: #ddd;
            border-width: 8px;
        }

        .nav-tabs > .active {
            color: #4c4742 !important;
            background-color: #222222 !important;
        }
</style>
    

<div id="comments" style="width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FAFAFA;">
    <div>
        <ul class="nav nav-tabs" style="background-color: #ECEFF1">
            <li class="active">
                <a data-toggle="tab" href="#comment-list">Comments</a>
            </li>
            <li>
                <a data-toggle="tab" href="#add-comment">Add Comments</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="comment-list" class="tab-pane fade in active">
                <table class="table">
                    <tbody>
                        <tr v-for="comment in comments">
                            <td style="width: 15%;">
                                <div class="thumbnail">
                                    <img :src="comment.user.imageUrl" style="width: 100% ;
                                        height: 20%">
                                </div><!-- /thumbnail -->
                            </td>
                            <td>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <strong>{{comment.commentedBy}}</strong> <span class="text-muted">commented {{comment.noOfDays}} days ago</span>
                                    </div>
                                    <div class="panel-body">
                                        {{comment.comment}}
                                    </div><!-- /panel-body -->
                                </div><!-- /panel panel-default -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="add-comment" class="tab-pane fade">

                <textarea v-model="folderComment.comment" placeholder="Comment..." class="form-control" rows="5" style="margin-top: 10px;
                    resize: vertical;
                    margin-bottom: 10px"></textarea>
                <button class="btn btn-default" style="float: right" v-on:click="addComment()">POST</button>
                <div style="margin-bottom: 100px"></div>

            </div>
        </div>
    </div>


</div>


<script>
        var app = new Vue(
                {
                    el: "#comments",
                    data: {
                        folderComment: {
                            comment: '',
                            appPackageName: '',
                            folderPath: ''
                        },
                        comments: []
                    },
                    methods: {
                        addComment: function () {
                            this.$data.folderComment.folderPath = window.location.href;
                            this.$http.post("https://sarkaribabu.herokuapp.com/addFolderComment", this.$data.folderComment).then(
                                    function (data) {
                                        window.location.reload();
                                    },
                                    function (error) {

                                    }
                            )
                        },
                        getComments: function () {
                            this.$http.get("https://sarkaribabu.herokuapp.com/getFolderComment/" + encodeURIComponent(window.location.href)).then(
                                    function (data) {
                                        this.$data.comments = data.body;
                                    },
                                    function (error) {

                                    }
                            )
                        }
                    }
                }
        );
        app.getComments();
</script>
