<!Doctype html>
<html>
    <head>
<link rel="canonical" href="https://www.previousyearpapers.in/NIELIT/" /><script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>   <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
     <title>Jan 2016</title>
   <meta name=viewport content="width=device-width, initial-scale=1">     <!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-102977974-5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());

  gtag('config', 'UA-102977974-5');
</script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<style>
    body {
    background-color:#BCAAA4;
     background-image: url("/maini.JPG");
}

.maindiv {
    background-image: url("/images1.jpg");
    background-repeat: repeat;
}
   .table {
        max-width: none;
        table-layout: fixed;
        word-wrap: break-word;
    } 
 p {
    margin-left: 10px;
    margin-right: 10px;
}
</style>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"></head>

    <body>
        <div >
            <img src="/exam1.png" alt="Mountain View" style="width:100%;height:228px;">

        </div>
        <div class="maindiv" style="width:80%;margin-left: auto; margin-right: auto;">
<h1 align="center" style="padding-top:10px">Jan 2016</h1>
 <a href="/NIELIT/">Download All NIELIT Previous Year Papers</a><br>
   <table class="table table-bordered table-hover ">
        <thead>
            <tr>
                <th class="col-md-1">Paper Name</th>
                <th class="col-md-1">Download Link</th>
            </tr>
        </thead>
        <tbody>
<tr>
                <td class="col-md-1">A1-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1nRhtd2F70DXu2jqQFGuGmQyEl3voysjG&name=A1-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">A101-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1XbWHZXc5y7He84CFkPt-54rm_1j_Ou73&name=A101-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">A102-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1KTGy_Cf8DoiOcNCK9dzlyPdxdTRECWdV&name=A102-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">A2-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1dDgaOQEYQ0RC8lI4_m9vdfQ1f3CzIfxC&name=A2-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">A3-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1f13KRKfYuNeIb4hRT8Hw3zaA1ISYxHQ8&name=A3-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">A4-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1gb9ZSm6z3SNacx72je_TFST2__s5ZH2W&name=A4-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">A5-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1cdARzqInP1l5NaVEnHJZEuZiUdzIKGqw&name=A5-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">A6-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1IHX1ibnk0G6yP1i1rn5xBd6Ld9xdUl2Y&name=A6-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">A7-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1JUtt7fzkWF-OI271rqLFAKuSw6uw5nz4&name=A7-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">A8-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1loKe11L2dWL6bK1lpJWg-zsUzocRWrRh&name=A8-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">A9-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1Cnl9fcLRbayijjeWSJ5epT54PIr_4Fb_&name=A9-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">B0-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1nxLDadBiG10iJMDjQOCtsUgZ9P6CY3sq&name=B0-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">B11-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1FBNgfwNPxELeQhg3xRnQqgLIPLMKpGta&name=B11-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">B12-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=14vkTXizLlRh2Nr6bvuOb6_Zj_PqQmiAH&name=B12-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">B13-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1jTlAuKHO_Dccr9OcmDAarGSqHuBd1nZd&name=B13-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">B14-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1bolRWs1KtrxYzvS6hg3P1sQyra1AnlNi&name=B14-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">B15-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1R8yUHx3dfseSlh3RElx3XQ0sA4tcnE3g&name=B15-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">B21-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1eoe5ILJ-19CB9SNlXoXHIWEcuO1DL3wm&name=B21-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">B22-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1IzxwPcr8FjFGi-DWMks6u8ONjPO39yur&name=B22-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">B23-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1zTwonAffM4BR7ltzAMFcf-Le6SR_bAmH&name=B23-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">B24-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1MOMhomOFmzf9EzF4XB0MSrt1nfVnVdw2&name=B24-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">B251-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=17dC2KVqLB-Wju6BqmyLJyaxA9EHgtSCI&name=B251-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">B252-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1YlMFJkG4dI8zvgrh18DDKcdaEIVn73IM&name=B252-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">B31-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=19gH0wCyZ-WgYI_nzMLYRd_G3BDaWoa7R&name=B31-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">B32-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1lWaekfChGZo10Lm8a1PaFEpTmd4XWmOq&name=B32-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">B33-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1PT6aLJ-FVsxXt_YGcc3OEhDzTzoR_QZ1&name=B33-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">B34-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1hAJdeHjR4IJ5j6rmn7goBvTVpbb26DKS&name=B34-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">B35-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1It3lSglUFOwonAout3qgYtDYMCzqU5pC&name=B35-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">B41-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1UAXs3MAupEsDgp1j8mmqWqUQi_RaY5r7&name=B41-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">B42-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1xQUyiPNEr-ry4exqS6yYUvgnsqekLh59&name=B42-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">B43-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1mEX3ETHxUyObx8rM0l5sLDJ--nBpDFO_&name=B43-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">B44-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1JkaQyV7tuFAb3aei5qDql5ht_a1-Yncf&name=B44-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">B45-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1vgVY_I65Bka75neUPhyHmSwkCiKeiFvp&name=B45-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">B51-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1AWsis64U4TSa7bDDe_tCk0mB5lzGmExV&name=B51-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">B52-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1ctruQdYuzX7VqX2SFQnSZsWcOoLFWXhX&name=B52-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">B53-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=11g69oPmPx8NNrJJlDS9qXP8IVD8P7ejX&name=B53-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">BE10-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1pL-aTzZZu_dx-2Zn2_d5KX0VdJbev8VT&name=BE10-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">BE11-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1Vmpg_Bbv8uhuwtIfF5XksToWG6HexlG3&name=BE11-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">BE12-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1dEon4Uqcj4mGyzMV45d0W-m3saq5qdSb&name=BE12-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">BE3-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1ca2nBBh3RaRwaC6XP24d7avQHVvcaYeJ&name=BE3-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">BE6-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=164_6hsurROP1KL_Iv8qojHU3_-BrposS&name=BE6-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">BE7-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1lgzrGqLB9_w2JVbmpbOOiyMrJ5Yl1f0c&name=BE7-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">BE9-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=15GLtoUzuy9BW1iOnx-6MoRtW6WwaeZxH&name=BE9-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">C0-R4-B1.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1IXrKTDVoWzvNXCOZf5o0kevz6rERayPT&name=C0-R4-B1.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">C0-R4-B2.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1vfOjw-SrgVbGcPnHsOFrOrjDUH7wVApp&name=C0-R4-B2.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">C0-R4-B3.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1OJa1QdWthU3oL48NjxVw8K-Hq-SxIHh-&name=C0-R4-B3.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">C0-R4-B4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1o3dLq1L9s4IxG-hpAyqCfNPo1d7-qi_M&name=C0-R4-B4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">C1-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1xwjBu5LA1HL62vDkjClvgdMLtpb8ON6B&name=C1-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">C10-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1MEsXpIUFrY6OlwNKdrCkh8JsxX55ckkH&name=C10-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">C2-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1jFj4vvpbTEC9TUGl5119SpkGvJln3JgW&name=C2-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">C3-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1xfxgWR7xYGo9QwcsOxROhuYUG520Bfk8&name=C3-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">C4-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1q-eg5NRaZgvPkjn01twSZL5mVvUdI-Fs&name=C4-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">C5-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1W5dsjtII3cb-Mc1k08WskOG5Ny-0-Tw0&name=C5-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">C6-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1Gs9qUiekjo05q99E_xjAdMCiGT3G-WCy&name=C6-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">C7-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1CTCPTcgBci7fQdhLvpu3m6oDzaBWtIHh&name=C7-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">C8-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1uOOYfMlg1aJyY30jFGZkBbo-O3UWWGXc&name=C8-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">C9-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1R6zF3jxxUUnRgYYAxWkUrqVijPKV9tBn&name=C9-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">CE13-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1vIboiqus3ZW0cbIiKqWuH9NRX83FNhVe&name=CE13-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">CE14-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1VI7-R8EvOVdElvgQWOdZkgrvoD27cO6C&name=CE14-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">CE15-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1nLWilGtqY6IsPrgxiCbrlx4MswZoJ0Gr&name=CE15-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">M1-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1_INGubp8FdBUq63m3yMgzgAdVpHj6JJF&name=M1-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">M2-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1ZMN8yxSoldXjagVHSfPKB-6qlY2kMtpr&name=M2-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">M3-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1WkDSQHO15oNlHJWrMKw2Yziabol-nw7s&name=M3-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">M41-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1Pi4GkLE-tJlt65JxG-x3P28SPaSUxAu3&name=M41-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">M42-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1JUMdMNiWJbPogjXUhlw1tpQQlpi2Opeo&name=M42-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">M43-R4.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1FndTB9rCdFY2htoMg2nANhsaBU17U5Zs&name=M43-R4.pdf" style="">Download PDF</a></td>
            </tr>

</tbody>
    </table>
<br><br>

</div>


<script>
if(navigator.userAgent.toLowerCase().includes("webview") )
{
      $("#tags").hide();
}
</script>


    </body>
</html>
   <script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/vue.resource/1.2.0/vue-resource.min.js"></script>
<style>
        .thumbnail {
            padding: 0px;
            height: 20%;
            width = 100%
        }

        .panel {
            position: relative;
        }

        .panel > .panel-heading:after, .panel > .panel-heading:before {
            position: absolute;
            top: 11px;
            left: -16px;
            right: 100%;
            width: 0;
            height: 0;
            display: block;
            content: " ";
            border-color: transparent;
            border-style: solid solid outset;
            pointer-events: none;
        }

        .panel > .panel-heading:after {
            border-width: 7px;
            border-right-color: #f7f7f7;
            margin-top: 1px;
            margin-left: 2px;
        }

        .panel > .panel-heading:before {
            border-right-color: #ddd;
            border-width: 8px;
        }

        .nav-tabs > .active {
            color: #4c4742 !important;
            background-color: #222222 !important;
        }
</style>
    

<div id="comments" style="width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FAFAFA;">
    <div>
        <ul class="nav nav-tabs" style="background-color: #ECEFF1">
            <li class="active">
                <a data-toggle="tab" href="#comment-list">Comments</a>
            </li>
            <li>
                <a data-toggle="tab" href="#add-comment">Add Comments</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="comment-list" class="tab-pane fade in active">
                <table class="table">
                    <tbody>
                        <tr v-for="comment in comments">
                            <td style="width: 15%;">
                                <div class="thumbnail">
                                    <img src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png" style="width: 100% ;
                                        height: 20%">
                                </div><!-- /thumbnail -->
                            </td>
                            <td>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <strong>{{comment.commentedBy}}</strong> <span class="text-muted">commented {{comment.noOfDays}} days ago</span>
                                    </div>
                                    <div class="panel-body">
                                        {{comment.comment}}
                                    </div><!-- /panel-body -->
                                </div><!-- /panel panel-default -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="add-comment" class="tab-pane fade">

                <textarea v-model="folderComment.comment" placeholder="Comment..." class="form-control" rows="5" style="margin-top: 10px;
                    resize: vertical;
                    margin-bottom: 10px"></textarea>
                <button class="btn btn-default" style="float: right" v-on:click="addComment()">POST</button>
                <div style="margin-bottom: 100px"></div>

            </div>
        </div>
    </div>


</div>


<script>
        var app = new Vue(
                {
                    el: "#comments",
                    data: {
                        folderComment: {
                            comment: '',
                            appPackageName: '',
                            folderPath: ''
                        },
                        comments: []
                    },
                    methods: {
                        addComment: function () {
                            this.$data.folderComment.folderPath = window.location.href;
                            this.$http.post("https://sarkaribabu.herokuapp.com/addFolderComment", this.$data.folderComment).then(
                                    function (data) {
                                        window.location.reload();
                                    },
                                    function (error) {

                                    }
                            )
                        },
                        getComments: function () {
                            this.$http.get("https://sarkaribabu.herokuapp.com/getFolderComment/" + encodeURIComponent(window.location.href)).then(
                                    function (data) {
                                        this.$data.comments = data.body;
                                    },
                                    function (error) {

                                    }
                            )
                        }
                    }
                }
        );
        app.getComments();
</script>
