<!Doctype html>
<html>
    <head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script><META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">      <title>ATET Assam Previous Year Papers</title>
   <meta name=viewport content="width=device-width, initial-scale=1">     <!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-102977974-5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());

  gtag('config', 'UA-102977974-5');
</script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<style>
    body {
    background-color:#BCAAA4;
     background-image: url("/maini.JPG");
}

.maindiv {
    background-image: url("/images1.jpg");
    background-repeat: repeat;
}
   .table {
        max-width: none;
        table-layout: fixed;
        word-wrap: break-word;
    } 
 p {
    margin-left: 10px;
    margin-right: 10px;
}
</style>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"></head>

    <body>
        <div >
            <img src="/exam1.png" alt="Mountain View" style="width:100%;height:228px;">

        </div>
        <div class="maindiv" style="width:80%;margin-left: auto; margin-right: auto;">
<h1 align="center" style="padding-top:10px">ATET Assam Previous Year Papers</h1>
 <br><br>
 <div>
            <script>
  (function() {
    var cx = '008040713969833446111:y_ic0tktiae';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
        </div> 
<br><br>
<p>
Download ATET Assam Previous Year Papers with Solutions and Study Material.Download ATET Assam Previous Year Question Papers in PDF format<br>
<p>  <table class="table table-bordered table-hover ">
        <thead>
            <tr>
                <th class="col-md-1">Paper Name</th>
                <th class="col-md-1">Download Link</th>
            </tr>
        </thead>
        <tbody>
<tr>
                <td class="col-md-1">Child Development and Language.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=0BzOoGOAZC_3wMFp1Uk1TMVo5VDQ&name=Child Development and Language.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">CHILD-DEVELOPMENT-AND-PEDAGOGY1.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=0BzOoGOAZC_3wR1U2Uml1UGVpU28&name=CHILD-DEVELOPMENT-AND-PEDAGOGY1.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">EARTH, ATMOSPHERIC, OCEAN AND  PLANETARY SCIENCES.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=0BzOoGOAZC_3wblJqSzVUc01OY0E&name=EARTH, ATMOSPHERIC, OCEAN AND  PLANETARY SCIENCES.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">English.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=0BzOoGOAZC_3wWXZZZ0VTTTJzMFU&name=English.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">English1.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=0BzOoGOAZC_3wYnA5dUZhQjlkb3c&name=English1.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">Environmental-Studies1.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=0BzOoGOAZC_3wXzM5eWszZnJyQ28&name=Environmental-Studies1.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">GENERAL-STUDIES.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=0BzOoGOAZC_3wZ0VxZlYyeXY3dzQ&name=GENERAL-STUDIES.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">Mathematics.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=0BzOoGOAZC_3wd3lZWmFjUDBwaTQ&name=Mathematics.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">Mathematics1.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=0BzOoGOAZC_3wRFpoUVUyVFFzaUE&name=Mathematics1.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">Paper 1.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=0BzOoGOAZC_3wX1gtczJuTzFIb0k&name=Paper 1.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">Paper 2.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=0BzOoGOAZC_3wYk5RX3Q0aldrR3c&name=Paper 2.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">Science & Mathematics.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=0BzOoGOAZC_3welBuQ0Uyb0RScG8&name=Science & Mathematics.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">Science1.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=0BzOoGOAZC_3wZGVLQlFhcnFlVzA&name=Science1.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">Social Studies.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=0BzOoGOAZC_3wVzJDSFJVTDdrNTA&name=Social Studies.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">Social-Science.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=0BzOoGOAZC_3wWUpVNEdGVVJCVVE&name=Social-Science.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">Teaching-Pedagogy1.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=0BzOoGOAZC_3wM1EtaUNFMkRKSzA&name=Teaching-Pedagogy1.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">ATET Assam Arithmetic Common</td>
                <td class="col-md-1"><a href="/Common Study Material/Study Material/Arithmetic Common/" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">ATET Assam Computer Knowledge Common</td>
                <td class="col-md-1"><a href="/Common Study Material/Study Material/Computer Knowledge Common/" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">CTET Previous year Papers</td>
                <td class="col-md-1"><a href="/CTET/" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">ATET Assam English Common</td>
                <td class="col-md-1"><a href="/Common Study Material/Study Material/English Common/" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">ATET Assam General Knowledge Common</td>
                <td class="col-md-1"><a href="/Common Study Material/Study Material/General Knowledge Common/" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">ATET Assam Reasoning Common</td>
                <td class="col-md-1"><a href="/Common Study Material/Study Material/Reasoning Common/" style="">Download PDF</a></td>
            </tr>

</tbody>
    </table>
<br><br>

<div id="tags" class="well well-sm">
<p>Contents:</p>

<ul>

<li>CTET / 2007 / 2007 CTET Paper 1.pdf</li>
<li>CTET / 2007 / 2007 CTET Paper 2.pdf</li>
<li>CTET / 2008 / 2008 CTET Paper 1.pdf</li>
<li>CTET / 2008 / 2008 CTET Paper 2.pdf</li>
<li>CTET / 2008 / Year 2008.pdf</li>
<li>CTET / 2009 / 2009 CTET Paper 1.pdf</li>
<li>CTET / 2009 / 2009 CTET Paper 2.pdf</li>
<li>CTET / 2009 / Year 2009.pdf</li>
<li>CTET / 2010 / 2010 CTET Paper 1.pdf</li>
<li>CTET / 2010 / 2010 CTET Paper 2.pdf</li>
<li>CTET / 2010 / Year 2010.pdf</li>
<li>CTET / 2011 / 2011 CTET Paper 1.pdf</li>
<li>CTET / 2011 / 2011 CTET Paper 2.pdf</li>
<li>CTET / 2011 / Year 2011.pdf</li>
<li>CTET / 2012 / 2012 CTET Paper 1.pdf</li>
<li>CTET / 2012 / 2012 CTET Paper 2.pdf</li>
<li>CTET / 2012 / Year 2012.pdf</li>
<li>CTET / 2013 / 2013 CTET Paper 1.pdf</li>
<li>CTET / 2013 / 2013 CTET Paper 2.pdf</li>
<li>CTET / 2013 / Year 2013.pdf</li>
<li>CTET / 2014 / 2014 CTET Paper 1.pdf</li>
<li>CTET / 2014 / 2014 CTET Paper 2.pdf</li>
<li>CTET / 2014 / Year 2014.pdf</li>
<li>CTET / 2015 / 2015 CTET Paper 1.pdf</li>
<li>CTET / 2015 / 2015 CTET Paper 2.pdf</li>
<li>CTET / 2015 / Year 2015.pdf</li>
<li>CTET / 2016 / 2016 CTET Paper 1.pdf</li>
<li>CTET / 2016 / 2016 CTET Paper 2.pdf</li>
<li>CTET / 2016 / Year 2016.pdf</li>

</ul>

</div>

</div>


<script>
if(navigator.userAgent.toLowerCase().includes("webview") )
{
      $("#tags").hide();
}
</script>


    </body>
</html>
   <script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/vue.resource/1.2.0/vue-resource.min.js"></script>
<style>
        .thumbnail {
            padding: 0px;
            height: 20%;
            width = 100%
        }

        .panel {
            position: relative;
        }

        .panel > .panel-heading:after, .panel > .panel-heading:before {
            position: absolute;
            top: 11px;
            left: -16px;
            right: 100%;
            width: 0;
            height: 0;
            display: block;
            content: " ";
            border-color: transparent;
            border-style: solid solid outset;
            pointer-events: none;
        }

        .panel > .panel-heading:after {
            border-width: 7px;
            border-right-color: #f7f7f7;
            margin-top: 1px;
            margin-left: 2px;
        }

        .panel > .panel-heading:before {
            border-right-color: #ddd;
            border-width: 8px;
        }

        .nav-tabs > .active {
            color: #4c4742 !important;
            background-color: #222222 !important;
        }
</style>
    

<div id="comments" style="width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FAFAFA;">
    <div>
        <ul class="nav nav-tabs" style="background-color: #ECEFF1">
            <li class="active">
                <a data-toggle="tab" href="#comment-list">Comments</a>
            </li>
            <li>
                <a data-toggle="tab" href="#add-comment">Add Comments</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="comment-list" class="tab-pane fade in active">
                <table class="table">
                    <tbody>
                        <tr v-for="comment in comments">
                            <td style="width: 15%;">
                                <div class="thumbnail">
                                    <img :src="comment.user.imageUrl" style="width: 100% ;
                                        height: 20%">
                                </div><!-- /thumbnail -->
                            </td>
                            <td>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <strong>{{comment.commentedBy}}</strong> <span class="text-muted">commented {{comment.noOfDays}} days ago</span>
                                    </div>
                                    <div class="panel-body">
                                        {{comment.comment}}
                                    </div><!-- /panel-body -->
                                </div><!-- /panel panel-default -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="add-comment" class="tab-pane fade">

                <textarea v-model="folderComment.comment" placeholder="Comment..." class="form-control" rows="5" style="margin-top: 10px;
                    resize: vertical;
                    margin-bottom: 10px"></textarea>
                <button class="btn btn-default" style="float: right" v-on:click="addComment()">POST</button>
                <div style="margin-bottom: 100px"></div>

            </div>
        </div>
    </div>


</div>


<script>
        var app = new Vue(
                {
                    el: "#comments",
                    data: {
                        folderComment: {
                            comment: '',
                            appPackageName: '',
                            folderPath: ''
                        },
                        comments: []
                    },
                    methods: {
                        addComment: function () {
                            this.$data.folderComment.folderPath = window.location.href;
                            this.$http.post("https://sarkaribabu.herokuapp.com/addFolderComment", this.$data.folderComment).then(
                                    function (data) {
                                        window.location.reload();
                                    },
                                    function (error) {

                                    }
                            )
                        },
                        getComments: function () {
                            this.$http.get("https://sarkaribabu.herokuapp.com/getFolderComment/" + encodeURIComponent(window.location.href)).then(
                                    function (data) {
                                        this.$data.comments = data.body;
                                    },
                                    function (error) {

                                    }
                            )
                        }
                    }
                }
        );
        app.getComments();
</script>
