<!Doctype html>
<html>
    <head>
<link rel="canonical" href="https://www.previousyearpapers.in/MPPSC-Madhya%20Prasesh/" /><script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>   <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
     <title>Optional</title>
   <meta name=viewport content="width=device-width, initial-scale=1">     <!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-102977974-5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());

  gtag('config', 'UA-102977974-5');
</script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<style>
    body {
    background-color:#BCAAA4;
     background-image: url("/maini.JPG");
}

.maindiv {
    background-image: url("/images1.jpg");
    background-repeat: repeat;
}
   .table {
        max-width: none;
        table-layout: fixed;
        word-wrap: break-word;
    } 
 p {
    margin-left: 10px;
    margin-right: 10px;
}
</style>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"></head>

    <body>
        <div >
            <img src="/exam1.png" alt="Mountain View" style="width:100%;height:228px;">

        </div>
        <div class="maindiv" style="width:80%;margin-left: auto; margin-right: auto;">
<h1 align="center" style="padding-top:10px">Optional</h1>
 <a href="/MPPSC-Madhya Prasesh/">Download All MPPSC-Madhya Prasesh Previous Year Papers</a><br>
   <table class="table table-bordered table-hover ">
        <thead>
            <tr>
                <th class="col-md-1">Paper Name</th>
                <th class="col-md-1">Download Link</th>
            </tr>
        </thead>
        <tbody>
<tr>
                <td class="col-md-1">Agricultural Engineering-I.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1ruGC2KXI8uqFbuyijHWS8x-lVF-vTwAR&name=Agricultural Engineering-I.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">Agricultural Engineering-II.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1nWoytrsZRB0YO0K9nIdv2DC5G5fSqNx-&name=Agricultural Engineering-II.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">Agriculture-I.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1YSl5ctZxhMK53TfRgmJOQdczWoY_Ikon&name=Agriculture-I.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">Agriculture-II.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1bQ-3R1JP-Moosro6WQaLpIRfVPJ6RlAL&name=Agriculture-II.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">Animal Husbandray and veterinary sciences-I.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1Q5ymQHvkm4dZ1P4qLymk4XdvReEtEr5W&name=Animal Husbandray and veterinary sciences-I.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">Animal Husbandray and veterinary sciences-II.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1gI9moMQaCDe5gyaubNIH6IsLGiUngiT4&name=Animal Husbandray and veterinary sciences-II.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">Botany-I.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1FkAGBVAtxV6E3nALx9I5x3EKtNR9P7kG&name=Botany-I.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">Botany-II.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1INyl9qTYi9IW7osthow5g8XfoXRTF18w&name=Botany-II.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">Chemical Engineering-I.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1V0gOBuS8KW9dZmrtnaWF1n5VMwsJUOYp&name=Chemical Engineering-I.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">Chemical Engineering-II.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1XQATuGHh3buIGr62SbA19XsMozADT-1S&name=Chemical Engineering-II.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">Chemistry-I.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1ki5U96X2CdmZtW3uInuDM9Nh4zHSrhrc&name=Chemistry-I.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">Chemistry-II.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=10FeebOXy34GLDefkSHjx6m288VqYzDo6&name=Chemistry-II.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">Civil Engineering-I.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1edKvBvH7LBp4U51EGMLVDTHfu3FoVlZe&name=Civil Engineering-I.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">Civil Engineering-II.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1qqNtncdM29XUKeKVimL164EWggooDDZd&name=Civil Engineering-II.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">CSE-I.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1FUeXDH8fVjqldS9YSDdt3_N1_VKBbWbd&name=CSE-I.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">CSE-II.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1Gc_20uMAvMe7YDDs5BFoWpJ3XqiPAO2K&name=CSE-II.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">Electrical Engineering-I.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1nKjSCBvWy1Uz_FW9otUH84tMTGkhwI07&name=Electrical Engineering-I.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">Electrical Engineering-II.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1PBQz5hdVsEsqG9435edkuEjnQtHssg1j&name=Electrical Engineering-II.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">Electronics Engineering-II.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=14K3rkl6D-Ic5NjVuudeYqtJlwosC4aQW&name=Electronics Engineering-II.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">electronics-eng-sfs-2017-main-first.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1DNb5l7WG4-vXEn0loqLqmoHFvdaBCOuk&name=electronics-eng-sfs-2017-main-first.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">Environmental Science-I.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=18r3x1SjI9EINJ-C1feCEW5B3v-O5E78b&name=Environmental Science-I.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">Environmental Science-II.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1VOlyyb0nH79NGbnTAzkfBKcoiwZDaRAG&name=Environmental Science-II.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">Forestry-I.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1WsqSKWXB2GuE6VaHCg7a6_VtvT9euc1e&name=Forestry-I.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">Forestry-II.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1SCYLGYBGWcX40k1hZU4a5tUzww-dyZUz&name=Forestry-II.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">Geology-I.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1CdwVw79ynZmhx4ZQ70JwEnG2tg1TZoMB&name=Geology-I.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">Geology-II.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1Y1yRev7rITCddZ_oqSduz-HpWGMhzE-C&name=Geology-II.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">Horticulture-I.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1ZESLH06LiZ_W__HWNevY9_H7j4DsAUoM&name=Horticulture-I.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">Horticulture-II.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1S-xWuNSkGYuj9dDtoSmXrFMsxnAjftCV&name=Horticulture-II.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">Mathematics-I.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1wenA-QuLuRu9g04I1w4A1blhZDpUocoG&name=Mathematics-I.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">Mathematics-II.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=13Pm6I-ib7ZVA6abTrGu0ZUrmRmsxxQUp&name=Mathematics-II.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">Mechanical Engineering-I.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=10yssarLVST-JnU8ps4Ja7Kcxgd7CBAHL&name=Mechanical Engineering-I.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">Mechanical Engineering-II.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1uJtmIWKJPlBa2g84Z3_w8fSqdp2ry0lv&name=Mechanical Engineering-II.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">Physycs-I.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1S57oDffHmIdL55CyY3OqyrWoMsHG2scM&name=Physycs-I.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">Physycs-II.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1-iyIhO4_tpUoBxxmbrCqMj04aXD9HIyP&name=Physycs-II.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">Statistics-I.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1n_wbDQbRKh8yA8b0rcghV1zqub5hZQb2&name=Statistics-I.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">Statistics-II.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1mRAOpSr4yvVmz5ZanRSyydEYck9_yQCF&name=Statistics-II.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">Zoology-I.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=1C3RGZE44Oa6HinTr2q9GVxs5uNuoPWis&name=Zoology-I.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1">Zoology-II.pdf</td>
                <td class="col-md-1"><a href="/pdfView.html?id=18um9H6VYikAGFml2GWYNFfVFD8XAvJZb&name=Zoology-II.pdf" style="">Download PDF</a></td>
            </tr>

</tbody>
    </table>
<br><br>

</div>


<script>
if(navigator.userAgent.toLowerCase().includes("webview") )
{
      $("#tags").hide();
}
</script>


    </body>
</html>
   <script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/vue.resource/1.2.0/vue-resource.min.js"></script>
<style>
        .thumbnail {
            padding: 0px;
            height: 20%;
            width = 100%
        }

        .panel {
            position: relative;
        }

        .panel > .panel-heading:after, .panel > .panel-heading:before {
            position: absolute;
            top: 11px;
            left: -16px;
            right: 100%;
            width: 0;
            height: 0;
            display: block;
            content: " ";
            border-color: transparent;
            border-style: solid solid outset;
            pointer-events: none;
        }

        .panel > .panel-heading:after {
            border-width: 7px;
            border-right-color: #f7f7f7;
            margin-top: 1px;
            margin-left: 2px;
        }

        .panel > .panel-heading:before {
            border-right-color: #ddd;
            border-width: 8px;
        }

        .nav-tabs > .active {
            color: #4c4742 !important;
            background-color: #222222 !important;
        }
</style>
    

<div id="comments" style="width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FAFAFA;">
    <div>
        <ul class="nav nav-tabs" style="background-color: #ECEFF1">
            <li class="active">
                <a data-toggle="tab" href="#comment-list">Comments</a>
            </li>
            <li>
                <a data-toggle="tab" href="#add-comment">Add Comments</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="comment-list" class="tab-pane fade in active">
                <table class="table">
                    <tbody>
                        <tr v-for="comment in comments">
                            <td style="width: 15%;">
                                <div class="thumbnail">
                                    <img :src="comment.user.imageUrl" style="width: 100% ;
                                        height: 20%">
                                </div><!-- /thumbnail -->
                            </td>
                            <td>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <strong>{{comment.commentedBy}}</strong> <span class="text-muted">commented {{comment.noOfDays}} days ago</span>
                                    </div>
                                    <div class="panel-body">
                                        {{comment.comment}}
                                    </div><!-- /panel-body -->
                                </div><!-- /panel panel-default -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="add-comment" class="tab-pane fade">

                <textarea v-model="folderComment.comment" placeholder="Comment..." class="form-control" rows="5" style="margin-top: 10px;
                    resize: vertical;
                    margin-bottom: 10px"></textarea>
                <button class="btn btn-default" style="float: right" v-on:click="addComment()">POST</button>
                <div style="margin-bottom: 100px"></div>

            </div>
        </div>
    </div>


</div>


<script>
        var app = new Vue(
                {
                    el: "#comments",
                    data: {
                        folderComment: {
                            comment: '',
                            appPackageName: '',
                            folderPath: ''
                        },
                        comments: []
                    },
                    methods: {
                        addComment: function () {
                            this.$data.folderComment.folderPath = window.location.href;
                            this.$http.post("https://sarkaribabu.herokuapp.com/addFolderComment", this.$data.folderComment).then(
                                    function (data) {
                                        window.location.reload();
                                    },
                                    function (error) {

                                    }
                            )
                        },
                        getComments: function () {
                            this.$http.get("https://sarkaribabu.herokuapp.com/getFolderComment/" + encodeURIComponent(window.location.href)).then(
                                    function (data) {
                                        this.$data.comments = data.body;
                                    },
                                    function (error) {

                                    }
                            )
                        }
                    }
                }
        );
        app.getComments();
</script>
