<!Doctype html>
<html>
    <head>
<link rel="canonical" href="https://www.previousyearpapers.in/NIELIT/" /><script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>   <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
     <title>Jan 2017</title>
   <meta name=viewport content="width=device-width, initial-scale=1">     <!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-102977974-5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());

  gtag('config', 'UA-102977974-5');
</script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<style>
  body {
 background-color:#BCAAA4;
     background-image: url("/maini.JPG");
}

.maindiv {
    background-image: url("/images1.jpg");
    background-repeat: repeat;
}
   .table {
        max-width: none;
        table-layout: fixed;
        word-wrap: break-word;
    } 
 p {
    margin-left: 10px;
    margin-right: 10px;
}
</style>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"></head>

    <body>
        <div >
            <img src="/exam1.png" alt="Mountain View" style="width:100%;height:228px;">

        </div>
        <div class="maindiv" style="width:80%;margin-left: auto; margin-right: auto;">
<h1 align="center" style="padding-top:10px">Jan 2017</h1>
 <a href="/NIELIT/">Download All NIELIT Previous Year Papers</a><br>
   <table class="table table-bordered table-hover ">
        <thead>
            <tr>
                <th class="col-md-1">Paper Name</th>
                <th class="col-md-1">Download Link</th>
            </tr>
        </thead>
        <tbody>
<tr>
                <td class="col-md-1" style="padding:15px">A1-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=1tm_gkV-zDs_kctWH5Ip3eRIj08_JgnnM&name=A1-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">A101-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=1_u_PYjFr_GdYQj9W1E5Tg8RdFgiFKbTF&name=A101-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">A102-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=1fse62xZwE9Tsic80Iu9toE6kRtrOYadf&name=A102-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">A2-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=1Zxtkk327QhIw-Hic1qvyo71aGvmUjn18&name=A2-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">A3-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=1-DGtImZYkui1Q-da0AY3TF9U0NqFQjG0&name=A3-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">A5-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=1ONwg9XQwVyP09TPehamnw0kUec_UznBZ&name=A5-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">A6-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=1fXrRTR8f_PcZlVKcl480jQj9T4973yrn&name=A6-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">A7-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=1X5oOoFspT9y76e6aKX8x-6BRBcXEdNE7&name=A7-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">A9-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=18tP5xcpxnT2la6RVzBpE9pVeZte_s1Rr&name=A9-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">B0-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=1UJ8ByD5PI55Ov0nNzjsmmCmocGs-UA7y&name=B0-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">B11-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=1DTnBXpI3UMEQiCBoth0cDVPtWRV2wkmh&name=B11-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">B12-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=1omCcLDOpOcw38jOChAVgLvTaaKDV5y9w&name=B12-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">B13-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=1JV85cunhQr-uHil-m3RY663GQ6G-wuV7&name=B13-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">B14-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=1Docn5yiK3MeclB1aBgXvVnpYIlUNVHTW&name=B14-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">B15-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=1sd2791vI1JhlIruRlaf4RzoKOnf75peX&name=B15-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">B21-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=1TPhrAE5qeoah1ZRcJ2mqo8Ep-wspEyin&name=B21-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">B22-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=1C52RY_BjheMDp_byHqIHsCYfPLtOaUaq&name=B22-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">B24-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=1tyIMZ_mEKw1ZLEivGcWHatckh7oeHh_j&name=B24-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">B251-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=10dcivpI671TbzF33wPLxG6Pl8LBwfWlP&name=B251-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">B252-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=1RRi1kXmd4hT1LZ3lu1WblfrudZDhBEH2&name=B252-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">B31-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=10J8DBeznJtBS8phrm9UvlUwidaaoqAs_&name=B31-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">B32-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=1H-SlWTyvAcHw--PrgyqdSQE2vnViXJjf&name=B32-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">B34-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=1V28tya1d1mKQr-4lzlCGfN4YPujddAvk&name=B34-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">B35-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=1jgakqgu_kgG-v_WJA7pYlmKC5i38B6aW&name=B35-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">B41-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=1qyQKJcofu13xvuoPWzrAcb24r1X1FKvA&name=B41-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">B42-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=1VtRBIr8KMjPAfhlkXs7rlNXxg43qTv1X&name=B42-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">B43-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=19pEIkHIs3PXXwgUYQnR2PjL_l-NTtJ1h&name=B43-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">B44-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=1O35uK1oaL3xT213tF2N3WLFIq99pV2CR&name=B44-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">B45-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=1rhSlkDTSYn-QnRwRv7ceh_kP5p-ASERJ&name=B45-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">B51-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=1AzwHiHGPAj-ziS_ELjwjNBZtsIqwPSP7&name=B51-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">B52-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=10r5PnBC9kN78dbBF6QMpbT181cC0PZcy&name=B52-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">B53-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=1Ydabak1Tm06X0lPYKcFwvr9Nd3I-aB3D&name=B53-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">BE1-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=1nNPVkjsDw1X7um_VD53buJAREDN6V1xD&name=BE1-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">BE11-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=1lp8-gSb6zXMDleWSTSbccC2sIRsR_K90&name=BE11-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">BE12-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=1khAcWyE4Vxw0D-YWv20EPCWixr9sDRVZ&name=BE12-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">BE3-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=1Fjtz776QivlaSTcN1vq_WY-eTK3TGLYn&name=BE3-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">BE6-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=1AKToEx9ipRy1UACPJUaTrxWU0KNtGLJ1&name=BE6-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">BE7-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=1BBzr0T5jyrWim-75fTM3dQY4zeXtsawu&name=BE7-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">BE9-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=17DDzdx5YtLfpIZsohqTNv5ySXV1en3kc&name=BE9-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">C1-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=1RwZoRsrH44uTQTgRLuG_wqQz4g9I1pjD&name=C1-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">C10-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=1MGViReww2kzEgCjQZCpO_8qj4sx_2NF2&name=C10-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">C2-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=1M5e2-WBmdLE9XCq0870qR5pGn5jeeiTE&name=C2-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">C3-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=1oNzLTxw4f0JkT2or_XhUmq6W_1iZITGf&name=C3-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">C4-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=1hpoFZ8WNwcDgd5wGgdeyyew1bhz-h5JV&name=C4-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">C5-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=1j1f9IwV2JW4tat-qMYXiLJddvwKAiKji&name=C5-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">C6-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=1aJBvr3pC8cLbU9apDpTczgLsaKKW6xs2&name=C6-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">C7-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=1dmK3OOQafQc-EZYufTMmJ5pRske8yNpk&name=C7-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">C8-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=1xC4_JsZagEsAVxG7mEj0UZiAbBLqLU9X&name=C8-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">C9-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=1cal9k_flULGHmUwhhuBeDJfMDIX7T5B2&name=C9-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">CE13-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=1LVEOSr1zqYhPZewd8BDo-YUkbv2NsXj9&name=CE13-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">CE14-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=1VXRfHMXoPInctgA-yUbG5ywvLEr5mQOE&name=CE14-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">CE15-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=1WO50WASkMiEE2f2fpMLmIpzSU4Q9al1I&name=CE15-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">M1-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=1EaFPK9UoJesqUB4-sKIowFrfVI83KRhA&name=M1-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">M2-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=1syxzzCI7ot4Z6pEvZCZt8MqXIYo7UJJE&name=M2-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">M3-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=1j3cL3PPAtd9cqKsFiwHI9jeh78B1wJst&name=M3-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">M41-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=1tLBjuJTIg3SXlTjvO-mmJ1qYibSb2W-a&name=M41-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">M42-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=1PqcQHrC0Mkk-oniAG7v-NUpsYIPBjXDA&name=M42-R4.pdf" style="">Download PDF</a></td>
            </tr>

<tr>
                <td class="col-md-1" style="padding:15px">M43-R4.pdf</td>
                <td class="col-md-1" style="padding:15px"><a href="/pdfView.html?id=1yD4McWgLmR1IQsbX3ysQy14WpaBZqQ4f&name=M43-R4.pdf" style="">Download PDF</a></td>
            </tr>

</tbody>
    </table>
<br><br>

</div>


<script>
if(navigator.userAgent.toLowerCase().includes("webview") )
{
      $("#tags").hide();
}
</script>


    </body>
</html>
   <script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/vue.resource/1.2.0/vue-resource.min.js"></script>
<style>
        .thumbnail {
            padding: 0px;
            height: 20%;
            width = 100%
        }

        .panel {
            position: relative;
        }

        .panel > .panel-heading:after, .panel > .panel-heading:before {
            position: absolute;
            top: 11px;
            left: -16px;
            right: 100%;
            width: 0;
            height: 0;
            display: block;
            content: " ";
            border-color: transparent;
            border-style: solid solid outset;
            pointer-events: none;
        }

        .panel > .panel-heading:after {
            border-width: 7px;
            border-right-color: #f7f7f7;
            margin-top: 1px;
            margin-left: 2px;
        }

        .panel > .panel-heading:before {
            border-right-color: #ddd;
            border-width: 8px;
        }

        .nav-tabs > .active {
            color: #4c4742 !important;
            background-color: #222222 !important;
        }
</style>
    

<div id="comments" style="width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FAFAFA;">
    <div>
        <ul class="nav nav-tabs" style="background-color: #ECEFF1">
            <li class="active">
                <a data-toggle="tab" href="#comment-list">Comments</a>
            </li>
            <li>
                <a data-toggle="tab" href="#add-comment">Add Comments</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="comment-list" class="tab-pane fade in active">
                <table class="table">
                    <tbody>
                        <tr v-for="comment in comments">
                            <td style="width: 15%;">
                                <div class="thumbnail">
                                    <img :src="comment.user.imageUrl" style="width: 100% ;
                                        height: 20%">
                                </div><!-- /thumbnail -->
                            </td>
                            <td>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <strong>{{comment.commentedBy}}</strong> <span class="text-muted">commented {{comment.noOfDays}} days ago</span>
                                    </div>
                                    <div class="panel-body">
                                        {{comment.comment}}
                                    </div><!-- /panel-body -->
                                </div><!-- /panel panel-default -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="add-comment" class="tab-pane fade">

                <textarea v-model="folderComment.comment" placeholder="Comment..." class="form-control" rows="5" style="margin-top: 10px;
                    resize: vertical;
                    margin-bottom: 10px"></textarea>
                <button class="btn btn-default" style="float: right" v-on:click="addComment()">POST</button>
                <div style="margin-bottom: 100px"></div>

            </div>
        </div>
    </div>


</div>


<script>
        var app = new Vue(
                {
                    el: "#comments",
                    data: {
                        folderComment: {
                            comment: '',
                            appPackageName: '',
                            folderPath: ''
                        },
                        comments: []
                    },
                    methods: {
                        addComment: function () {
                            this.$data.folderComment.folderPath = window.location.href;
                            this.$http.post("https://sarkaribabu.herokuapp.com/addFolderComment", this.$data.folderComment).then(
                                    function (data) {
                                        window.location.reload();
                                    },
                                    function (error) {

                                    }
                            )
                        },
                        getComments: function () {
                            this.$http.get("https://sarkaribabu.herokuapp.com/getFolderComment/" + encodeURIComponent(window.location.href)).then(
                                    function (data) {
                                        this.$data.comments = data.body;
                                    },
                                    function (error) {

                                    }
                            )
                        }
                    }
                }
        );
        app.getComments();
</script>
